#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.input {
  position: relative;
  margin-top: 10px;
  width: 300px;
  height: 20px;
  border-radius: 8px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.formulario {
  background-color: rgb(214, 212, 212);
  padding: 20px;
  border-radius: 10px;

 }
 .error {
  position: relative;
  margin-top: 5px;
  color: red;
  font-weight: bold;
 }

 .card {
  color: white;
  position: relative;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 2em;
  background-color: rgb(82, 76, 76);
}

.read-the-docs {
  color: #888;
}
.banda {
  position: relative;
  margin-top: 20px;
  color: black;
  font-weight: bold;
  background-color: aqua;
  border-radius: 8px;
  box-shadow: 10px;
}
